html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: 10vh 83vh 7vh/12fr;
  grid-template-areas:
    "h"
    "m"
    "f";
}

header {
  height: 100%;
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F2F4F7;
}

.header-itens {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin: 0;
}

.header-itens img{

  width: 10vh;
  height: 8vh;
}

main {
  height: 100%;
  grid-area: m;
}

aside {
  height: 100%;

  grid-area: a;
}

footer {
  height: 100%;
  grid-area: f;
  display: flex;
  flex-direction: row;        
  justify-content: center;
  background-color: #F2F4F7;
  margin: 0;
}

.footer-itens {
  display: flex;
  align-content: center;
  height: 100px;
  margin: 10px;
}

.title-button{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.table{
  display: flex;
  justify-content: center;
}

.title{
  display: flex;
  align-content: center;
  justify-content: space-between;
}